body {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6px;
}
ul {
    padding: 0px;
}
li {
    list-style-type: none;
    padding: 10px;
    border-bottom: solid grey;
}
li:last-child {
    border-bottom: none;
}
h1 {
    color:#294242;
}
.Title {
    font-family: 'Montserrat', 'sans-serif';
    text-align: center;
}
.body {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
body {
    background-color:#f6d8ac;
}
header {
    background-color:#b0e0e6;
}
footer > p {
    height: fit-content;
    background-color:#b0e0e6;
    text-align:center;
}
@media screen and (min-width: 600px) {
    .links {
        flex-direction: row;
        justify-content: center;
    }
    .links > a {
        margin: 6px;
    }
    li {
        display:grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr;
        border-bottom: solid black;
    }
}
