h1 {
    color:#670D73;
}
.Title {
    font-family: 'Montserrat', 'sans-serif';
    text-align: center;
}
.body {
    display: grid;
}
.links {
    display: flex;
    justify-content: center;
}
.links > a {
    margin: 6px;
}
body {
    background-color: #6AF0AD;
}
header {
    background-color:orange;
}
